In [32]:
%reload_kedro

2021-06-28 08:15:41,702 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-06-28 08:15:41,729 - root - INFO - ** Kedro project m5_case
2021-06-28 08:15:41,730 - root - INFO - Defined global variable `context`, `session` and `catalog`

In [33]:
# Imports
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")

#Structure type
from pandas import DataFrame

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:

def create_covidfeature(df: DataFrame) -> DataFrame:
    """Cria feature dizendo o dia que come√ßou covid binario"""
    df.loc['2020-03-16':,'pos_covid'] = 1
    df.fillna(0, inplace = True)
    df['pos_covid'] = df['pos_covid'].astype(int)
    
    return df

In [34]:
context.catalog.load('lima_clean').info()

2021-06-28 08:15:48,585 - kedro.io.data_catalog - INFO - Loading data from `lima_clean` (CSVDataSet)...
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 39407 entries, 2017-01-01 00:00:00 to 2021-06-30 22:00:00
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     39407 non-null  object
 1   HOUR     39407 non-null  object
 2   TEMP     39407 non-null  float64
 3   PREC_H   39407 non-null  float64
 4   HUM      39407 non-null  float64
 5   W_DIR    39407 non-null  float64
 6   W_VEL    39407 non-null  float64
 7   MONTH    39407 non-null  int64
 8   YEAR     39407 non-null  int64
 9   HOUR_DT  39407 non-null  object
dtypes: float64(5), int64(2), object(3)
memory usage: 3.3+ MB

In [35]:
context.catalog.load('lima_clean').head()

2021-06-28 08:15:51,750 - kedro.io.data_catalog - INFO - Loading data from `lima_clean` (CSVDataSet)...

,DATE,HOUR,TEMP,PREC_H,HUM,W_DIR,W_VEL,MONTH,YEAR,HOUR_DT
DATETIME,,,,,,,,,,
2017-01-01 00:00:00,2017-01-01,00:00:00,20.7,0.0,89.0,214.0,1.2,1,2017,00:00:00
2017-01-01 01:00:00,2017-01-01,01:00:00,20.9,0.0,88.0,244.0,0.3,1,2017,01:00:00
2017-01-01 02:00:00,2017-01-01,02:00:00,20.4,0.0,91.0,210.0,0.7,1,2017,02:00:00
2017-01-01 03:00:00,2017-01-01,03:00:00,20.8,0.0,89.0,213.0,1.0,1,2017,03:00:00
2017-01-01 04:00:00,2017-01-01,04:00:00,19.9,0.0,93.0,204.0,1.2,1,2017,04:00:00

In [36]:
lima2 = context.catalog.load('lima_clean')

2021-06-28 08:15:56,820 - kedro.io.data_catalog - INFO - Loading data from `lima_clean` (CSVDataSet)...

In [37]:
lima2 = lima2.loc['2018':]

In [38]:
lima2

,DATE,HOUR,TEMP,PREC_H,HUM,W_DIR,W_VEL,MONTH,YEAR,HOUR_DT
DATETIME,,,,,,,,,,
2018-01-01 00:00:00,2018-01-01,00:00:00,21.700000,0.0,79.0,224.000000,1.20,1,2018,00:00:00
2018-01-01 01:00:00,2018-01-01,01:00:00,21.700000,0.0,80.0,222.000000,0.80,1,2018,01:00:00
2018-01-01 02:00:00,2018-01-01,02:00:00,21.400000,0.0,80.0,251.000000,0.50,1,2018,02:00:00
2018-01-01 03:00:00,2018-01-01,03:00:00,21.300000,0.0,80.0,228.000000,0.90,1,2018,03:00:00
2018-01-01 04:00:00,2018-01-01,04:00:00,21.100000,0.0,80.0,236.000000,0.70,1,2018,04:00:00
...,...,...,...,...,...,...,...,...,...,...
2021-06-30 18:00:00,2021-06-30,18:00:00,17.638889,0.0,84.0,214.111111,2.20,6,2021,18:00:00
2021-06-30 19:00:00,2021-06-30,19:00:00,17.538889,0.0,84.0,215.222222,1.80,6,2021,19:00:00
2021-06-30 20:00:00,2021-06-30,20:00:00,17.472222,0.0,85.5,214.555556,1.85,6,2021,20:00:00
2021-06-30 21:00:00,2021-06-30,21:00:00,17.388889,0.0,86.0,213.388889,2.05,6,2021,21:00:00
2021-06-30 22:00:00,2021-06-30,22:00:00,17.338889,0.0,85.0,222.611111,1.45,6,2021,22:00:00