In [32]:
%reload_kedro

2021-06-28 08:15:41,702 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-06-28 08:15:41,729 - root - INFO - ** Kedro project m5_case
2021-06-28 08:15:41,730 - root - INFO - Defined global variable `context`, `session` and `catalog`

In [1]:
# Imports
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")

#Structure type
from pandas import DataFrame

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:

def create_covidfeature(df: DataFrame) -> DataFrame:
    """Cria feature dizendo o dia que come√ßou covid binario"""
    df.loc['2020-03-16':,'pos_covid'] = 1
    df.fillna(0, inplace = True)
    df['pos_covid'] = df['pos_covid'].astype(int)
    
    return df

In [2]:
context.catalog.load('lima_clean').info()

2021-06-29 07:05:52,195 - kedro.io.data_catalog - INFO - Loading data from `lima_clean` (CSVDataSet)...
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 39407 entries, 2017-01-01 00:00:00 to 2021-06-30 22:00:00
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     39407 non-null  object
 1   HOUR     39407 non-null  object
 2   TEMP     39407 non-null  float64
 3   PREC_H   39407 non-null  float64
 4   HUM      39407 non-null  float64
 5   W_DIR    39407 non-null  float64
 6   W_VEL    39407 non-null  float64
 7   MONTH    39407 non-null  int64
 8   YEAR     39407 non-null  int64
 9   HOUR_DT  39407 non-null  object
dtypes: float64(5), int64(2), object(3)
memory usage: 3.3+ MB

In [3]:
context.catalog.load('lima_clean').head()

2021-06-29 07:05:55,587 - kedro.io.data_catalog - INFO - Loading data from `lima_clean` (CSVDataSet)...

,DATE,HOUR,TEMP,PREC_H,HUM,W_DIR,W_VEL,MONTH,YEAR,HOUR_DT
DATETIME,,,,,,,,,,
2017-01-01 00:00:00,2017-01-01,00:00:00,20.7,0.0,89.0,214.0,1.2,1,2017,00:00:00
2017-01-01 01:00:00,2017-01-01,01:00:00,20.9,0.0,88.0,244.0,0.3,1,2017,01:00:00
2017-01-01 02:00:00,2017-01-01,02:00:00,20.4,0.0,91.0,210.0,0.7,1,2017,02:00:00
2017-01-01 03:00:00,2017-01-01,03:00:00,20.8,0.0,89.0,213.0,1.0,1,2017,03:00:00
2017-01-01 04:00:00,2017-01-01,04:00:00,19.9,0.0,93.0,204.0,1.2,1,2017,04:00:00

In [36]:
lima2 = context.catalog.load('lima_clean')

2021-06-28 08:15:56,820 - kedro.io.data_catalog - INFO - Loading data from `lima_clean` (CSVDataSet)...

In [37]:
lima2 = lima2.loc['2018':]

In [4]:
context.catalog.load('peru_clean').head()

2021-06-29 07:06:04,149 - kedro.io.data_catalog - INFO - Loading data from `peru_clean` (CSVDataSet)...

                      executado
date
2017-01-01 00:00:00  5331.90439
2017-01-01 00:15:00  5303.72484
2017-01-01 00:30:00  5271.62452
2017-01-01 00:45:00  5213.25059
2017-01-01 01:00:00  5180.18117

In [5]:
lima = context.catalog.load('lima_clean')
peru = context.catalog.load('peru_clean')

2021-06-29 07:38:45,656 - kedro.io.data_catalog - INFO - Loading data from `lima_clean` (CSVDataSet)...
2021-06-29 07:38:45,714 - kedro.io.data_catalog - INFO - Loading data from `peru_clean` (CSVDataSet)...

In [8]:
lima

,DATE,HOUR,TEMP,PREC_H,HUM,W_DIR,W_VEL,MONTH,YEAR,HOUR_DT
DATETIME,,,,,,,,,,
2017-01-01 00:00:00,2017-01-01,00:00:00,20.700000,0.0,89.0,214.000000,1.20,1,2017,00:00:00
2017-01-01 01:00:00,2017-01-01,01:00:00,20.900000,0.0,88.0,244.000000,0.30,1,2017,01:00:00
2017-01-01 02:00:00,2017-01-01,02:00:00,20.400000,0.0,91.0,210.000000,0.70,1,2017,02:00:00
2017-01-01 03:00:00,2017-01-01,03:00:00,20.800000,0.0,89.0,213.000000,1.00,1,2017,03:00:00
2017-01-01 04:00:00,2017-01-01,04:00:00,19.900000,0.0,93.0,204.000000,1.20,1,2017,04:00:00
...,...,...,...,...,...,...,...,...,...,...
2021-06-30 18:00:00,2021-06-30,18:00:00,17.638889,0.0,84.0,214.111111,2.20,6,2021,18:00:00
2021-06-30 19:00:00,2021-06-30,19:00:00,17.538889,0.0,84.0,215.222222,1.80,6,2021,19:00:00
2021-06-30 20:00:00,2021-06-30,20:00:00,17.472222,0.0,85.5,214.555556,1.85,6,2021,20:00:00
2021-06-30 21:00:00,2021-06-30,21:00:00,17.388889,0.0,86.0,213.388889,2.05,6,2021,21:00:00
2021-06-30 22:00:00,2021-06-30,22:00:00,17.338889,0.0,85.0,222.611111,1.45,6,2021,22:00:00

In [13]:
lima = context.catalog.load('lima_clean')
peru = context.catalog.load('peru_clean')

def join_tables(df1: DataFrame, df2: DataFrame) -> DataFrame:
    """
    Faz upsample no df2 para 15m,
    interpola linearmente, faz o left join e depois dropa colunas
    que v√£o ser criadas corretamentas
    """
    df2 = df2.resample('15min').interpolate(method='linear')
    df = df1.join(df2, lsuffix = '', rsuffix = '')
    df.drop(columns=['DATE','HOUR','HOUR_DT'], axis = 1, inplace= True)
    
    return df 

df = join_tables(peru, lima)
df

2021-06-29 08:01:43,013 - kedro.io.data_catalog - INFO - Loading data from `lima_clean` (CSVDataSet)...
2021-06-29 08:01:43,059 - kedro.io.data_catalog - INFO - Loading data from `peru_clean` (CSVDataSet)...

,executado,TEMP,PREC_H,HUM,W_DIR,W_VEL,MONTH,YEAR
date,,,,,,,,
2017-01-01 00:00:00,5331.90439,20.700,0.0,89.00,214.00,1.200,1.0,2017.0
2017-01-01 00:15:00,5303.72484,20.750,0.0,88.75,221.50,0.975,1.0,2017.0
2017-01-01 00:30:00,5271.62452,20.800,0.0,88.50,229.00,0.750,1.0,2017.0
2017-01-01 00:45:00,5213.25059,20.850,0.0,88.25,236.50,0.525,1.0,2017.0
2017-01-01 01:00:00,5180.18117,20.900,0.0,88.00,244.00,0.300,1.0,2017.0
...,...,...,...,...,...,...,...,...
2021-05-02 22:45:00,5842.71088,18.125,0.0,87.75,208.25,1.675,5.0,2021.0
2021-05-02 23:00:00,5789.96126,18.100,0.0,88.00,208.00,1.800,5.0,2021.0
2021-05-02 23:15:00,5708.78075,18.050,0.0,88.25,212.25,1.475,5.0,2021.0
2021-05-02 23:30:00,5660.78965,18.000,0.0,88.50,216.50,1.150,5.0,2021.0
2021-05-02 23:45:00,5583.32887,17.950,0.0,88.75,220.75,0.825,5.0,2021.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 151968 entries, 2017-01-01 00:00:00 to 2021-05-02 23:45:00
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   executado  151968 non-null  float64
 1   TEMP       151968 non-null  float64
 2   PREC_H     151968 non-null  float64
 3   HUM        151968 non-null  float64
 4   W_DIR      151968 non-null  float64
 5   W_VEL      151968 non-null  float64
 6   MONTH      151968 non-null  float64
 7   YEAR       151968 non-null  float64
dtypes: float64(8)
memory usage: 14.5 MB

In [20]:
%reload_kedro

2021-06-29 08:13:50,074 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-06-29 08:13:50,096 - root - INFO - ** Kedro project m5_case
2021-06-29 08:13:50,096 - root - INFO - Defined global variable `context`, `session` and `catalog`

In [22]:
df = context.catalog.load('dataset_covid').head()

2021-06-29 08:13:53,616 - kedro.io.data_catalog - INFO - Loading data from `dataset_covid` (CSVDataSet)...

In [23]:
df

,executado,TEMP,PREC_H,HUM,W_DIR,W_VEL,MONTH,YEAR,pos_covid
date,,,,,,,,,
2017-01-01 00:00:00,5331.90439,20.70,0.0,89.00,214.0,1.200,1.0,2017.0,0
2017-01-01 00:15:00,5303.72484,20.75,0.0,88.75,221.5,0.975,1.0,2017.0,0
2017-01-01 00:30:00,5271.62452,20.80,0.0,88.50,229.0,0.750,1.0,2017.0,0
2017-01-01 00:45:00,5213.25059,20.85,0.0,88.25,236.5,0.525,1.0,2017.0,0
2017-01-01 01:00:00,5180.18117,20.90,0.0,88.00,244.0,0.300,1.0,2017.0,0